body { 
    font-family: 'Montserrat', sans-serif;
}
.entry .entry-title:before{
    display: none;
}
.site-header{
    background-color: rgb(136, 193, 240);
}
.entry-header h1{
    color:rgb(21, 120, 167);
}