.rayures{
  @include rayure-bleu;
}

.animbloc1:hover{
  animation-name: animbloc1;
  animation-duration: 2s;
}

.animbloc2{
  animation-name: animbloc2;
  animation-duration: 8s;
}

@keyframes animbloc1{
  from{
  background-color: rgb(255, 255, 255);
  }

  to{
   background-color: rgb(48, 117, 221);
   color: white;
  }
}
@keyframes animbloc2{
  0%{
    transform: translateX(90px);
  }
  50%{
    transform: translateX(300px);
  }
  100%{
    transform: translateX(0px);
  }
}
.comment-content p{
  color:rgb(245, 123, 41);
}
.paragraphe{
  color: rgb(24, 89, 143);
}


